@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="d-flex flex-column align-items-center justify-content-center" style="height: 40rem;">
    <h1 class="mb-4">Bine ai venit!</h1>
    <div class="d-flex gap-3">
        <a asp-page="/Register" class="btn btn-primary">Înregistrare</a>
        <a asp-page="/Login" class="btn btn-secondary">Autentificare</a>
    </div>
</div>
